@font-face {
  font-family: "Sailec ";
  src: url("../fonts/Type-Dynamic-Sailec-Thin.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Sailec ";
  src: url("../fonts/Type-Dynamic-Sailec.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Sailec ";
  src: url("../fonts/Type-Dynamic-Sailec-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Sailec ";
  src: url("../fonts/Type-Dynamic-Sailec-Bold.otf") format("opentype");
  font-weight: 600;
}
body {
  color: #151442;
  font-family: "Sailec ";
  overflow-x: hidden;
}

h2 {
  font-size: 80px;
  font-weight: 500;
  color: #151442;
}

.user-icon {
  background-image: url(../images/icon/user.svg);
  width: 20px;
  height: 24px;
  background-size: contain;
  display: inline-block;
}

.bag-icon {
  background-image: url(../images/icon/bag.svg);
  width: 23px;
  height: 26px;
  background-size: contain;
  display: inline-block;
  position: relative;
}
.bag-icon span {
  width: 19px;
  height: 19px;
  font-size: 12px;
  background-color: #151442;
  color: #fff;
  font-style: normal;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -25px;
  top: 6px;
  font-weight: 300;
  line-height: 1px;
}

nav {
  padding: 25px 100px !important;
  z-index: 1;
}
nav .navbar-brand {
  font-weight: 600;
  color: #fff !important;
  margin-left: -15px;
}
nav .navbar-nav {
  margin-right: -30px;
}
nav ul .nav-item {
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
nav ul li:nth-last-child(2) {
  padding: 0 60px;
}
nav .nav-link {
  color: #151442 !important;
}
nav.whiteHeader {
  background-color: #fff !important;
  box-shadow: 0px 4px 7px 0px #1024212e;
}
nav.whiteHeader .navbar-brand {
  color: #151442 !important;
}

.main {
  height: 100vh;
  position: relative;
  margin-bottom: 80px;
}
.main .banner-img {
  min-width: 41vw;
  height: 83%;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 53%;
  bottom: 25px;
}
.main .main-content {
  height: 100vh;
  background-color: #102421;
  width: 60%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main .main-content .banner {
  min-width: 500px;
  margin-bottom: -13%;
  margin-right: 16%;
}
.main .main-content .banner span {
  letter-spacing: 0.5em;
  font-size: 14px;
  margin-bottom: 15px;
  display: inline-block;
  font-weight: 100;
}
.main .main-content .banner h1 {
  font-size: 88px;
  line-height: 105px;
  font-weight: 600;
  margin-bottom: 46px;
}
.main .main-content .banner p {
  font-size: 22px;
  line-height: 28px;
  font-weight: 100;
  color: #D2D2D2;
}
.main .main-content .banner .btn-wrapper {
  margin-top: 100px;
}
.main .main-content .banner .btn-wrapper a {
  background-color: #C7E1BF;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  padding: 18px 26px;
  font-weight: 300;
  color: #102522;
  border-radius: 50px;
  overflow: hidden;
}
.main .main-content .banner .btn-wrapper a:first-child {
  margin-right: 50px;
}

.shop-now-btn {
  border: 1px solid #102421;
  border-radius: 50px;
  padding: 18px 70px 18px 30px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  color: #151442;
}
.shop-now-btn:before {
  content: "";
  width: 19px;
  height: 13px;
  position: absolute;
  top: 23px;
  right: 23px;
  background-image: url(../images/icon/arrow-right.svg);
}

.products {
  padding: 80px 0;
}
.products .wrapper {
  position: relative;
  margin-bottom: 100px;
}
.products .wrapper .shop-now-btn {
  position: absolute;
  right: 10%;
  bottom: 14px;
}
.products .mySwiper .swiper-wrapper {
  margin-left: 65px !important;
}
.products .prod-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
}
.products .prod-desc h4 {
  font-size: 36px;
  font-weight: 500;
  color: #151442;
}
.products .prod-desc span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #8F9095;
  margin-top: 20px;
  margin-bottom: 25px;
}
.products .prod-desc p {
  font-size: 16px;
  font-weight: 300;
  color: #8F9095;
  text-align: center;
}
.products img {
  object-fit: cover;
  max-width: 400px;
}
.products .swiper-wrapper {
  margin-bottom: 40px !important;
}

.testimonials {
  margin: 80px 0;
  padding: 100px;
  background-image: url(../images/bg-banner.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials h2 {
  color: #fff;
  margin-bottom: 81px;
}
.testimonials a {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 100;
}
.testimonials .testimonial-wrapper {
  background-color: #FFF3F3;
  max-width: 800px;
  padding: 110px 100px;
  float: right;
}
.testimonials .testimonial-wrapper h3 {
  font-size: 50px;
  line-height: 75px;
  position: relative;
}
.testimonials .testimonial-wrapper h3:before {
  content: "";
  background-image: url(../images/icon/quote.svg);
  width: 42px;
  height: 35px;
  background-size: contain;
  position: absolute;
  top: -50px;
  left: -45px;
  background-repeat: no-repeat;
}
.testimonials .testimonial-wrapper h3:after {
  content: "";
  background-image: url(../images/icon/quote.svg);
  width: 42px;
  height: 35px;
  background-size: contain;
  position: absolute;
  bottom: -20px;
  right: -40px;
  transform: scaleX(-1);
  background-repeat: no-repeat;
}
.testimonials .testimonial-wrapper p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
}
.testimonials .testimonial-wrapper span {
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  display: inline-block;
}
.testimonials .testimonial-wrapper .testimonial-user {
  padding-right: 50px;
  margin-top: 30px;
  float: right;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
}
.benefits img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}
.benefits p {
  margin-top: 70px;
  font-size: 18px;
  text-align: center;
}
.benefits > div.d-flex {
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 160px;
  background-color: #102421;
  padding: 150px 100px;
  position: relative;
}
footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}
footer h1 {
  font-size: 88px;
  line-height: 94px;
  font-weight: 500;
  margin-bottom: 46px;
  color: #fff;
}
footer ul li {
  list-style-type: none;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  line-height: 40px;
}
footer ul li:first-child {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
footer .footer-map {
  display: flex;
  justify-content: space-evenly;
}
footer .scroll-up {
  display: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-image: url(../images/icon/footer-arrow.svg);
  background-repeat: no-repeat;
  /* background-position: center; */
  position: absolute;
  right: 100px;
  top: 10%;
  background-size: 50%;
  border: 1px solid #fff;
  transform: rotate(180deg);
  border-radius: 50%;
  background-position: 10px 10px;
}

.mob-menu {
  display: none;
}

button.navbar-toggler {
  border: 0;
}
button.navbar-toggler span.navbar-toggler-icon {
  background-image: url(../images/icon/menu.svg);
  width: 35px;
  height: 35px;
  margin-top: 10px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 1440px) {
  .main .main-content .banner h1 {
    font-size: 78px;
    line-height: 86px;
    margin-bottom: 36px;
  }
  .main .main-content .banner span {
    font-size: 14px;
    margin-bottom: 13px;
    margin-bottom: 13px;
  }
  .main .main-content .banner .btn-wrapper {
    margin-top: 85px;
  }
  .main .main-content .banner p {
    font-size: 18px;
    line-height: 24px;
  }

  .shop-now-btn {
    padding: 12px 54px 12px 14px;
  }
  .shop-now-btn:before {
    top: 18px;
  }

  h2 {
    font-size: 66px;
  }

  .testimonials .testimonial-wrapper h3 {
    font-size: 42px;
    line-height: 67px;
  }

  footer h1 {
    font-size: 78px;
    line-height: 86px;
  }
}
@media (max-width: 1200px) {
  .testimonials .testimonial-wrapper {
    padding: 80px;
  }
  .testimonials .testimonial-wrapper h3 {
    font-size: 34px;
    line-height: 59px;
  }
  .testimonials .testimonial-wrapper h3:before, .testimonials .testimonial-wrapper h3:after {
    width: 30px;
    height: 26px;
  }
}
@media (max-width: 1024px) {
  .products .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .products .wrapper .shop-now-btn {
    position: relative;
    bottom: inherit;
    right: inherit;
    margin-top: 50px;
  }

  nav.whiteHeader .nav-link {
    filter: initial;
  }

  .nav-link {
    filter: invert(1) grayscale(1);
  }
  .nav-link .user-icon {
    filter: invert(1) grayscale(1);
  }

  .main .main-content {
    width: 100%;
  }
  .main .banner-img {
    display: none;
  }
  .main .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main .banner h1, .main .banner p {
    text-align: center;
  }

  .testimonials {
    height: inherit;
  }
  .testimonials .testimonial-row {
    flex-direction: column;
  }
  .testimonials .testimonial-row .col-lg-6 {
    width: 100%;
  }
  .testimonials .testimonial-wrapper {
    margin-top: 50px;
  }

  .benefits p br {
    display: none;
  }
}
@media (max-width: 991px) {
  nav.whiteHeader {
    background-color: #102421 !important;
  }
  nav.whiteHeader .navbar-brand {
    color: #fff !important;
  }

  .navbar-collapse {
    display: none;
  }

  .mob-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 36, 33, 0.99);
    padding: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
    transform: translateY(-100%);
    transition: 0.3s;
  }
  .mob-menu ul {
    padding: 0;
  }
  .mob-menu ul li {
    list-style-type: none;
  }
  .mob-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0;
    display: inline-block;
  }
  .mob-menu ul li:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .mob-menu ul li:first-child .bag-icon {
    filter: invert(1) grayscale(1);
  }
  .mob-menu.active {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  nav {
    padding: 0 60px;
  }

  .benefits {
    flex-direction: column;
  }
  .benefits p br {
    display: block;
  }
  .benefits > div {
    margin-top: 100px;
  }
  .benefits > div:first-child {
    margin-top: 0;
  }

  .products .mySwiper .swiper-wrapper {
    margin-left: 0px !important;
  }

  .testimonials .testimonial-wrapper {
    padding: 80px;
    margin-top: 40px;
  }

  footer .footer-map {
    justify-content: end;
    flex-direction: column;
  }
  footer .footer-map ul {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
