@import "fonts";
@import "mixins";
$primary-color:#151442;
body{
	color: $primary-color;
	font-family: 'Sailec ';
	overflow-x: hidden;
}
h2{
	font-size:80px;
	font-weight: 500;
	color:$primary-color;
}
//icons
.user-icon{
	background-image: url(../images/icon/user.svg);
	width: 20px;
	height: 24px;
	background-size: contain;
	display: inline-block;
}

.bag-icon{
	background-image: url(../images/icon/bag.svg);
	width: 23px;
	height: 26px;
	background-size: contain;
	display: inline-block;
	position: relative;
	span{
		width: 19px;
		height: 19px;
		font-size: 12px;
		background-color: $primary-color;
		color: #fff;
		font-style: normal;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: -25px;
		top: 6px;
		font-weight: 300;
		line-height: 1px;
	}
}

nav{
	padding:25px 100px!important;
	z-index: 1;
	.navbar-brand{
		font-weight: 600;
		color:#fff!important;
		margin-left: -15px;
	}
	.navbar-nav{
		margin-right: -30px;
	}
	ul{
		.nav-item{
			font-size: 14px;
			font-weight: 500;
			padding: 0 10px;
			display: flex;
			align-items: center;
		}
		li{
			&:nth-last-child(2){
				padding: 0 60px;
			}
		}
	}
	.nav-link{
		color: $primary-color!important;
	}
	&.whiteHeader{
		background-color: #fff!important;
		box-shadow: 0px 4px 7px 0px #1024212e;
		.navbar-brand{color:$primary-color!important;}
	}
}

.main{
	height:100vh;
	position: relative;
	margin-bottom:80px;
	.banner-img{
		min-width: 41vw;
		height: 83%;
		background-image: url(../images/banner.jpg);
		background-position: center;
		background-size: cover;
		position: absolute;
		left: 53%;
		bottom: 25px;
	}
	.main-content{
		height:100vh;
		background-color: #102421;
		width: 60%;
		color:#fff;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		.banner{
			min-width:500px;
			margin-bottom: -13%;
			margin-right: 16%;
			span{
				letter-spacing: 0.5em;
				font-size: 14px;
				margin-bottom: 15px;
				display: inline-block;
				font-weight: 100;
			}
			h1{
				font-size: 88px;
				line-height: 105px;
				font-weight: 600;
				margin-bottom:46px;
			}
			p{
				font-size: 22px;
				line-height: 28px;
				font-weight: 100;
				color:#D2D2D2;
			}
			.btn-wrapper{
				margin-top:100px;
				a{
					background-color: #C7E1BF;
					font-size: 14px;
					display: inline-block;
					text-decoration: none;
					padding: 18px 26px;
					font-weight: 300;
					color: #102522;
					border-radius: 50px;
					overflow: hidden;
					&:first-child{
						margin-right: 50px;
					}
				}
			}
		}
	}
}

.shop-now-btn{
    border: 1px solid #102421;
    border-radius: 50px;
    padding: 18px 70px 18px 30px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
	color: $primary-color;
	&:before{
		content:'';
		width:19px;
		height: 13px;
		position: absolute;
		top:23px;
		right:23px;
		background-image: url(../images/icon/arrow-right.svg);
	}
}

.products{
	padding:80px 0;
	.wrapper{
		position: relative;
		margin-bottom:100px;
		.shop-now-btn{
			position: absolute;
			right: 10%;
			bottom: 14px;
		}
	}
	.mySwiper {
		.swiper-wrapper{
			margin-left:65px!important;
		}
	}
	.prod-desc{
		@include desc;
	}
	img{
		// width: 296px;
		// height: 356px;
		object-fit: cover;
		max-width:400px;
	}
	.swiper-wrapper{
		margin-bottom: 40px!important;
	}
}

.testimonials{
	margin: 80px 0;
	padding:100px;
	background-image:url(../images/bg-banner.jpg);
	background-position: center;
	background-size: cover;
	height:100vh;
	display: flex;
    align-items: center;
    justify-content: space-between;
	h2{
		color:#fff;
		margin-bottom:81px;
	}
	a{
		color: #fff;
		text-decoration: underline;
		font-size: 14px;
		font-weight: 100;
	}
	.testimonial-wrapper{
		background-color:#FFF3F3;
		max-width: 800px;
		padding:110px 100px;
		float: right;
		h3{
			font-size: 50px;
			line-height: 75px;
			position: relative;
			&:before{
				content: "";
				background-image: url(../images/icon/quote.svg);
				width: 42px;
				height: 35px;
				background-size: contain;
				position: absolute;
				top: -50px;
				left: -45px;
				background-repeat: no-repeat;
			}
			&:after{
				content: "";
				background-image: url(../images/icon/quote.svg);
				width: 42px;
				height: 35px;
				background-size: contain;
				position: absolute;
				bottom: -20px;
				right: -40px;
				transform: scaleX(-1);
				background-repeat: no-repeat;
			}
		}
		p{
			margin-top:20px;
			margin-bottom: 10px;
			font-weight: 500;
			font-size: 22px;
		}
		span{
			font-size: 16px;
			font-weight: 300;
			text-align: right;
			display: inline-block;
		}
		.testimonial-user{
			padding-right: 50px;
			margin-top: 30px;
			float: right;
		}
	}
}

.benefits{
	display: flex;
	justify-content: space-evenly;
	img{
		width:55px;
		height: 55px;
		object-fit: contain;
	}
	p{
		margin-top:70px;
		font-size: 18px;
		text-align: center;
	}
	& > div.d-flex{
		flex-direction: column;
		align-items: center;
	}
}

footer{
	margin-top:160px;
	background-color: #102421;
	padding:150px 100px;
	position: relative;
	p{
		color:#fff;
		font-size: 14px;
		font-weight: 100;
	}
	h1{
		font-size: 88px;
		line-height: 94px;
		font-weight: 500;
		margin-bottom: 46px;
		color:#fff;
	}
	ul{
		li{
			list-style-type: none;
			color:#fff;
			font-size: 14px;
			font-weight: 100;
			line-height:40px;
			&:first-child{
				font-size: 18px;
				font-weight: 300;
				margin-bottom:30px;
			}
		}
	}
	.footer-map{
		display: flex;
		justify-content: space-evenly;
	}
	.scroll-up{
		display: none;
		cursor: pointer;
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/footer-arrow.svg);
		background-repeat: no-repeat;
		/* background-position: center; */
		position: absolute;
		right: 100px;
		top: 10%;
		background-size: 50%;
		border: 1px solid #fff;
		transform: rotate(180deg);
		border-radius: 50%;
		background-position: 10px 10px;
	}
}
.mob-menu{display:none;}
button.navbar-toggler{
	border:0;
	span.navbar-toggler-icon{
		background-image: url(../images/icon/menu.svg);
		width: 35px;
		height: 35px;
		margin-top: 10px;
	}
}
.navbar-toggler:focus{box-shadow:none;}


@import "media-query";